<div class="cont">
    <div [ngClass]="starter" *ngIf="!isData" class="start animate__animated ">
        <div class="contenido ">
            <h2>Simulación</h2>
            <p>Simula un casino con 10 maquinas tragamonedas durante X días.</p>
            <button (click)="iniciar()" class="btn btn-danger btn-sm"> Iniciar Simulacion</button>
        </div>

    </div>

    <br>
    <div class="simulacion  ">

        <div class="lds-roller" *ngIf="load">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="data animate__animated animate__fadeIn" *ngIf="isData">
            <h1>Resultados</h1>
            <br>
            <div class="maquinas">
                <app-maquina *ngFor="let item of data" [machineInfo]="item"></app-maquina>

            </div>
        </div>



    </div>
</div>