.info-maquina {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.card {
    width: 700px;
    border: none;
    -webkit-box-shadow: 9px 8px 4px -2px rgba(0, 0, 0, 0.27);
    box-shadow: 9px 8px 4px -2px rgba(0, 0, 0, 0.27);
}