<div class="casino">

    <div class="presentacion animate__animated animate__backInDown animate__delay-0.5s ">
        <br>
        <div class="titulo">
            <h1>Simulación casino</h1>
            <h1>Maquina tragamonedas</h1>
        </div>
        <br>
        <div class="actions">
            <button class="btn btn-success" (click)="navegar()">Iniciar Simulación</button>
        </div>
        <br>
        <div class="integrantes">
            <h5>
                <ul>
                    <li>Jhon Edison Rodriguez</li>
                    <li>Oscar Esteban Quiroz</li>
                    <li>Esteban Gutierrez</li>
                    <li>Santiago Sosa</li>

                </ul>
            </h5>

        </div>

    </div>

</div>