/* You can add global styles to this file, and also import other style files */

.logo {
    position: absolute;
    right: 0;
    top: 0;
    object-fit: scale-down;
}

:root {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #E0CCCC;
}